﻿@model _62B_RealEstate.Models.Property

@{
    ViewBag.Title = "Real Estate Luxury Properties - " + Model.Reference + " - " + Model.PropertyType + " in " + Model.Locality;
}

<h2>Property Details: @Model.Reference: @Model.PropertyType  in  @Model.Locality</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Locality)</h4>
    <p><emph>@Html.DisplayFor(model => model.PropertyType)</emph></p>
    <hr />
    
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img alt="@Model.Reference: @Model.PropertyType  in  @Model.Locality" src="@Model.ImageURL" style="max-width:100%" />
                <p>@Model.Reference: @Model.PropertyType  in  @Model.Locality</p>
            </div>
            <div class="col-sm-6">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Reference)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Reference)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Bedrooms)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Bedrooms)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ContractType)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ContractType)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FloorArea)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FloorArea)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Price)
                    </dd>
                </dl>
            </div>
        </div>

        <p>
            @Html.DisplayNameFor(model => model.Description)
        </p>
        <p>
            @Html.DisplayFor(model => model.Description)
        </p>
    </div>

   
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Reference }) |
    @Html.ActionLink("Back to List", "Index")
</p>
