﻿@model IEnumerable<_62B_RealEstate.Models.Property>
@using _62B_RealEstate.Helpers;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Real Estate Luxury Properties - " + ViewBag.Location + " - Found " + ViewBag.PropertiesFound + " properties";
}

<h4>"Listing all Properties in " + @ViewBag.Location</h4>

@*
    @Html.GenerateTitle("Listing all Properties in " + @ViewBag.Location)

    @CustomHelpers.GenerateTitle("Listing all Properties in " + @ViewBag.Location)
*@

@*<h4>Listing all Properties in @ViewBag.Location</h4>*@

<div class="container">
    @foreach (_62B_RealEstate.Models.Property getProperty in Model)
    {
        @Html.Partial("PropertyPartial", getProperty);
    }
</div>

