﻿@model _62B_RealEstate.Models.Property

<div class="row" style="margin-top:5px; margin-bottom:5px">
    <div class="col-sm-4">
        <img alt="@Model.Reference: @Model.PropertyType  in  @Model.Locality" src="@Model.ImageURL" style="max-width:100%; max-height:400px" />
    </div>
    <div class="col-sm-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Bedrooms)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Bedrooms)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ContractType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContractType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FloorArea)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FloorArea)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
        </dl>
    </div>
    <div class="col-sm-2">
        @Html.ActionLink("View More Details", "Details", new { id = Model.Reference })
    </div>
</div>